.line{
    stroke: #F05E5F;
}

.axis path{
	stroke: #f7f7f7;
}

.axis{
	stroke: #f7f7f7;
}

.tick line{
	stroke: #f7f7f7;
}


.mouse-line path{
	stroke: #f7f7f7;
}

.selected-line path{
	stroke: #f7f7f7;
}

.graphBackground {
	fill: #303032;
}
