.line{
    stroke: #F05E5F;
}

.axis path{
	stroke: #f7f7f7;
}

.axis{
	stroke: #f7f7f7;
}

.tick line{
	stroke: #f7f7f7;
}


.mouse-line path{
	stroke: #f7f7f7;
}

.selected-line path{
	stroke: #f7f7f7;
}

.graphBackground {
	fill: #303032;
}

div.graphTooltip {
    position: absolute;
    z-index: 9999;
    text-align: center;
    width: 110px;
    height: 45px;
    padding: 2px;
    font-family: Ubuntu Mono;
    font-size: 20px;
    background: #f7f7f7;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
