.hexagons {
	fill: #818286;
    stroke: #818286;
    opacity: 0.5;
    stroke-width: 1;
}

.filledHexagons {
	fill: #F05E5F;
    stroke: #F05E5F;
    stroke-width: 1;
}

div.tooltip {	
    position: absolute;
    z-index: 9999;			
    text-align: center;			
    width: 60px;					
    height: 50px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}