.unfilledHexagons {
	fill: #818286;
    stroke: #818286;
    opacity: 0.3;
    stroke-width: 1;
}

.filledHexagons {
	fill: #F05E5F;
    stroke: lightsalmon;
    stroke-width: 2;
}

.line{
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

div.tooltip {
    position: absolute;
    z-index: 9999;
    text-align: center;
    width: 110px;
    height: 65px;
    padding: 2px;
    font-family: Ubuntu Mono;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: 0px;
    pointer-events: none;
}
