html, body {
    height: 1920px;
    margin: 0;
    overflow: hidden;
    background-color: #242b2d;
}

.wrapper {
    height: 1080px;
    width: 1920px;
    margin: 0;
}

.side-left {
    float: left;
    height: 1080px;
    width: 1440px;
    margin: 0;
}

#map {
    margin:10px 10px 10px 10px;
    height: 780px;
}

#time {
    margin:0px 10px 10px 10px;
    height: 270px;
}

.side-right {
    float: right;
    height: 1080px;
    width: 480px;
    margin: 0;
    color: white;
}

.headline {
    margin:10px 0px 10px 0px;
    height: 210px;
    width: 450px;
    font-size: 90px;
    font-weight: lighter;
    font-family: monospace;
    text-align: center;
}

.hexbikeImage {
    height: 100px;
}

.explanation {
    margin:10px 10px 10px 0px;
    height: 350px;
    width: 450px;
    font-size: 45px;
    font-weight: lighter;
    font-family: monospace;
    text-align: center;
}

.legend {
    margin:10px 10px 10px 0px;
    height: 200px;
    width: 450px;
    font-size: 45px;
    font-weight: lighter;
    font-family: monospace;
    text-align: center;
}

.weather {
    margin:10px 10px 10px 0px;
    height: 170px;
    width: 450px;
    padding-top: 30px;
    text-align: center;
}

.weatherImage {
    height: 75px;
}

.footer {
    margin:10px 10px 10px 0px;
    height: 90px;
    width: 450px;
    text-align: right;
}

.logos {
    height: 70px;
}

.weatherImageTest {
    height: 50px;
}

.temperature {
    height: 50px;
}

.temperatureAsNumber {
    font-weight: lighter;
    font-size: 105px;
}

.celsius {
    height: 50px;
}

.test {
    margin:5px 5px 5px 5px;
}
