html, body {
    height: 1920px;
    margin: 0;
    overflow: hidden;
    background-color: #242b2d;
}

.wrapper {
    height: 1080px;
    width: 1920px;
    margin: 0;
}

.side-left {
    float: left;
    height: 1080px;
    width: 1440px;
    margin: 0;
}

#map {
    margin:10px 10px 10px 10px;
    height: 780px;
}

#time {
    margin:0px 10px 10px 10px;
    height: 270px;
}

.side-right {
    float: right;
    height: 1080px;
    width: 480px;
    color: #f7f7f7;
}

.headline {
    margin:10px 0px 10px 10px;
    padding-right: 40px;
    height: 160px;
    width: 450px;
    font-size: 50px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
    text-align: right;
}

.hexbikeImage {
    height: 50px;
}

.legend {
    margin: 10px 0px 10px 10px;
    padding-left: 40px;
    padding-right: 40px;
    height: 200px;
    width: 450px;
    font-size: 30px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
    text-align: center;
}

#legendHeadline {
    font-size: 20px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
    text-align: left;
    padding-bottom: 20px;
    padding-right: 40px;
}

.legendImage {
    height: 75px;
}

.explanation {
    margin:10px 0px 10px 10px;
    padding-left: 40px;
    height: 360px;
    width: 450px;
    font-size: 30px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
    text-align: left;
}

p {
    padding-right: 40px;
    font-size: 20px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
    text-align: justify;
}

.buttons {
    margin: 10px 0px 10px 0px;
    padding-top: 10px;
    padding-left: 40px;
    height: 70px;
    width: 450px;
    padding-top: 30px;
    text-align: left;
}

#buttonPlayPause, #buttonForwards, #buttonBackwards, #buttonStop {
    height: 70px;
}

.weather {
    margin:10px 0px 10px 0px;
    padding-left: 40px;
    height: 190px;
    width: 450px;
    padding-top: 30px;
    text-align: left;
}

.weatherImage {
    height: 75px;
}

.weather-celcius {
    font-size: 70px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
    letter-spacing: -8px;
}

.weather-text {
    font-size: 30px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
}

.temperature {
    height: 50px;
}

.temperatureAsNumber {
    font-size: 105px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
}

.celsius {
    height: 50px;
}
