/*GLOBAL SETTINGS*/
/* Structure
                            width
         ___________________________________________
        |   left side             |   right side    |
        |                         |______headline___|
        |                         |      legend     |
        |      map                |_________________|
        |                         |                 |
height  |                         |      explanation|
        |_________________________|_________________|
        |                         |______buttons____|
        |      time               |      weather    |
        |___________________________________________|
*/

html, body {
    margin: 0;
    overflow: hidden;
    background-color: #242b2d;
}

html, body, .wrapper, .side-left, .side-right {
    height: 1080px;
}

html, body, .wrapper {
    width: 1920px;
}

/*LEFT SIDE*/
.side-left {
    float: left;
    width: 1440px;
    margin: 0;
}

#map {
    height: 780px;
}

/*height and width of element has to be changed at index.html (svg element)*/
#time {
    height: 270px;
}

/*RIGHT SIDE*/
.side-right {
    width: 470px;
    margin-right: 10px;
}

.headline, .legend, .explanation, .buttons, .weather {
    width: 430px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.headline {
    height: 160px;
}

.legend {
    height: 200px;
}

.explanation {
    height: 360px;
}

.buttons {
    height: 70px;
}

.weather {
    height: 190px;
}

/*GLOBAL SETTINGS END*/

.wrapper {
    margin: 0;
}

#map {
    margin: 10px 0px 5px 10px;
}

.cityName {
    position: absolute;
    font-size: 40px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
    color: #f05e5f;
    background-color: #242b2d;
    z-index: 401;
    top: 737px;
}

#time {
    margin: 5px 0px 10px 10px;
}

.side-right {
    float: right;
    color: #f7f7f7;
}

.headline {
    padding-right: 10px;
    font-size: 55px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
    text-align: right;
}

.hexbikeImage {
    height: 50px;
}

.legend {
    font-size: 30px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
    text-align: left;
}

#legendHeadline {
    font-size: 24px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
    text-align: left;
    padding-bottom: 20px;
}

#legendBikesText {
    margin-top: 8px;
    padding-bottom: 10px;
    padding-left: 13px;
    font-size: 20px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
    text-align: left;
}

.legendImage {
    height: 40px;
    padding-left: 10px;
}

.legendText {
    font-size: 12px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
}

#legend0Text {
    padding-left: 28px;
}

#legend1Text {
    padding-left: 44px;
}

#legend2Text {
    padding-left: 26px;
}

#legend3Text {
    padding-left: 23px;
}

#legend4Text {
    padding-left: 23px;
}

#legend5Text {
    padding-left: 23px;
}

.explanation {
    font-size: 30px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
    text-align: left;
}

p {
    font-size: 20px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
    text-align: justify;
}

.buttons {
    padding-top: 30px;
    text-align: left;
}

#buttonPlayOrPause, #buttonForwards, #buttonBackwards, #buttonReturn {
    height: 70px;
    margin-right: 10px;
}

.weather {
    padding-top: 30px;
    text-align: left;
}

.weatherImage {
    height: 75px;
}

.weather-celcius {
    font-size: 70px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
    letter-spacing: -8px;
}

.weather-text {
    font-size: 30px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
}

.temperature {
    height: 50px;
}

.temperatureAsNumber {
    font-size: 105px;
    font-weight: lighter;
    font-family: Ubuntu Mono;
}

.celsius {
    height: 50px;
}
